<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<body>
	<div class="clientesBox" layout:fragment="content">
		<div class="title">CLIENTES</div>
		
		<div class="msgSucess" th:if="${msgSucess} != null">
			<span th:text="${msgSucess}"></span>
		</div>
		
		<div class="msgError" th:if="${msgError} != null">
			<span th:text="${msgError}"></span>
		</div>
		
		<div class="clienteCadastro">
			<form name="clienteCadForm" method="POST" th:object="${clienteCad}" th:action="@{/} + ${roleName} + '/clientes/save'" >
				<label>
					<span>Nome:</span>
					<input type="text" name="nome" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''" />
					<span class="msgError" th:if="${#fields.hasErrors('nome')}">
						<strong th:errors="*{nome}"></strong>
					</span>
				</label>
				
				<input type="submit" value="Cadastrar" />
			</form>
		</div>
		
		<form name="clienteDelForm" method="POST" th:action="@{/} + ${roleName} + '/clientes/delete'" style="display: none;">
			<input name="id-cliente-del" type="number" value="" />
		</form>
		
		<div class="clientesConsAlter">
			<div class="div-table">
				<table>
					<tr>
						<th>Cód.</th>
						<th>Nome</th>
						<th></th>
					</tr>

					<tr th:each="cliente : ${clientes}">
						<td th:text="${cliente.id}"></td>
						<td th:text="${cliente.nome}"></td>
						<td> <img th:src="@{/icons/icon-trash.png}"> </td>
					</tr>
				</table>
			</div>

			<div class="div-alter">
				<form name="clienteEdForm" method="POST" th:object="${clienteEd}" th:action="@{/} + ${roleName} + '/clientes/edit'">
					<label>
						<span>Código:</span>
						<input type="number" name="id" th:field="*{id}" disabled />
					</label>
					
					<label>
						<span>Nome:</span>
						<input type="text" name="nome" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''" disabled />
						<span class="msgError" th:if="${#fields.hasErrors('nome')}">
							<strong th:errors="*{nome}"></strong>
						</span>
					</label>
					
					<input type="reset" value="Cancelar" disabled />
					<input type="submit" value="Alterar" disabled />
				</form>
			</div>
		</div>
		
		<div class="confirmDeleteClienteModal">
			<div class="content-modal">
				<div class="title-modal">Deletar Cliente</div>
				<div class="text-modal">Deseja realmente deletar o cliente "#cli#"?</div>
				
				<div class="btns">
			    	<button type="button" class="cancelbtn">Cancelar</button>
			    	<button type="button" class="confirmbtn">Deletar</button>
				</div>
				
				<span class="idCliente" style="display: none;"></span>
				<span class="nomeCliente" style="display: none;"></span>
			</div>
		</div>
		
	</div>
</body>
</html>